:root{
    --roxo: #8b05be;
    --cinza: #A9A9A9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    height: 50%;
    background-color: var(--roxo);
    font-family: 'Ubuntu', sans-serif;
}
img{
    width: 100px;
    height: 100px;
}
label{
    font-size: 15px;
    width: 250px;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 5px;
}

.nubank-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login{
    width: 360px;
    height: 460px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 9px 7px 5px rgba(141, 18, 165, 0.664);
}

.texto-principal{
    font-size: 17px;
    margin-top: 50px;
}
.cpf{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: var(--cinza);
}
.senha{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: var(--cinza);
}
.button{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.botao{
    width: 250px;
    height: 50px;
    background-color: white;
    border-color: var(--cinza);
    border-radius: 5px;
    color: var(--cinza);
    font-weight: bold;
    border: 1px solid var(--cinza);
}
.links{
    margin-top: 40px;
    color: var(--roxo);
    font-size: 13px;
}
.cliente-novo{
    margin-top: 10px;
}
.next{
    width: 8px;
    height: 8px;
}

@media screen and (max-width:600px){
    .logo{
        display: flex;
        justify-content: center;
    }
}